name: Release Extension

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Zip extension
        run: cd src && zip -r ../modip-fix-${{ github.ref_name }}.zip .

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: modip-fix-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
